aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
alembic==1.16.1
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
attrs==24.2.0
autopep8==2.3.1
av==13.1.0
azure-core==1.32.0
azure-storage-blob==12.24.1
babel==2.17.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.26.142
botocore==1.29.165
Brotli==1.1.0
build==1.2.2
cachelib==0.13.0
cachetools==5.5.0
cassandra-driver==3.29.2
cassio==0.1.9
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.11
click==8.1.7
cloup==3.0.7
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
contourpy==1.3.0
cryptography==44.0.2
cycler==0.12.1
Cython==3.0.12
dataclasses-json==0.6.7
datasets==3.0.1
DateTime==4.7
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
distro==1.9.0
dj-database-url==2.2.0
Django==5.1.2
dnspython==2.7.0
docx==0.2.4
durationpy==0.9
email_validator==2.2.0
environs==9.5.0
et_xmlfile==2.0.0
faiss-cpu==1.8.0.post1
Faker==37.3.0
fastapi==0.115.0
filelock==3.16.1
Flask==2.3.0
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
geocoder==1.38.1
geoip2==5.0.1
geomet==0.2.1.post1
gevent==24.10.2
gitdb==4.0.11
GitPython==3.1.43
glcontext==3.0.0
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.10.2
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.56.4
googletrans==3.1.0a0
greenlet==3.1.1
grpcio==1.56.0
grpcio-status==1.62.3
gunicorn==20.1.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.9.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
huggingface-hub==0.25.1
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
IP2Location==8.10.5
isodate==0.7.2
isosurfaces==0.1.2
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
kubernetes==31.0.0
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.8
langchain-google-genai==2.0.0
langchain-text-splitters==0.3.0
langsmith==0.1.130
lxml==5.3.1
macholib==1.16.3
Mako==1.3.10
manim==0.19.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
maxminddb==2.6.3
mdurl==0.1.2
mido==1.3.2
milvus==2.3.5
milvus-lite==2.4.1
minio==7.2.15
mmh3==5.0.1
moderngl==5.12.0
moderngl-window==3.1.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
Naked==0.1.32
narwhals==1.9.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.5
oauthlib==2.1.0
onnxruntime==1.19.2
openai==1.82.1
opencv-python==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.0
pgvector==0.4.1
pillow==10.4.0
posthog==3.6.6
pretty_midi==0.2.10
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.6
py-cpuinfo==9.0.0
pyaes==1.6.1
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.28.0
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.1
pyglet==2.1.3
pyglm==2.8.2
Pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyJWT==2.9.0
pymilvus==2.3.0
pymongo==4.10.1
PyMySQL==1.0.2
pyparsing==3.1.4
PyPDF2==3.0.1
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyTelegramBotAPI==4.23.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.0
python-magic==0.4.27
python-telegram-bot==21.6
pytz==2024.2
PyYAML==6.0.2
qrcode==8.0
ratelim==0.1.6
referencing==0.35.1
regex==2024.9.11
requests>=2.31.0,<3.0.0
requests-oauthlib==1.1.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.1
rpds-py==0.20.0
rsa==4.9
s3transfer==0.6.2
scikit-learn==1.6.1
scipy==1.14.1
screeninfo==0.8.1
seaborn==0.13.2
shellescape==3.8.1
shellingham==1.5.4
six==1.16.0
skia-pathops==0.8.0.post2
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.31
sqlparse==0.5.1
srt==3.5.3
starlette==0.38.6
streamlit==1.39.0
stripe==5.5.0
svgelements==1.9.6
sympy==1.13.1
telegram==0.0.1
Telethon==1.37.0
tenacity==8.5.0
threadpoolctl==3.6.0
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.20.0
toml==0.10.2
torch==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.5
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
ultralytics==8.3.51
ultralytics-thop==2.0.13
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
uvicorn==0.31.0
uvloop==0.20.0
watchdog==6.0.0
watchfiles==0.24.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==2.3.0
whitenoise==6.7.0
wrapt==1.16.0
WTForms==3.2.1
xxhash==3.5.0
yarl==1.13.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.3
